body{
    margin:0;
    font-size: 15px;
    font-family: arial;
}
header{
    background-color: rgb(92, 226, 208);
    padding:30px;
    text-align:center;
}

nav {
    overflow: hidden;
    background-color:rgb(4, 3, 73);
    list-style:none;
}

nav a{
    float:left;
    color:#eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:17px;
}
nav a:hover{
    background-color:rgb(41, 180, 235);
    color:#000;
}
nav a.ativo{
    background-color: rgb(41, 180, 235);
    color: #fff;    
}
.principal{
    padding:16px;
}
.fixo{
    position:fixed;
    top: 0px;
    width:100%;
}
.fixo + .principal{
    padding-top: 60px;
}